<div class="header">
	<div class="topbar">
		<div class="innerbox">
			<ul class="topbarl dropdownmenuUl">
				<li><a routerLink='/login' class="mobile">移动客户端</a></li>
				<li><a class="weixin" href="javascript:;">微信</a>
					<div style="display: none;" class="popmain">
						<em class="arrow"></em> <em class="arrow-over"></em>
						<div class="popcontent">
							<div class="WeiXinBox">
								<img alt="关注善林宝微信" src="/images/index/weixin.jpg">
							</div>
						</div>
					</div>
				</li>
				<li><i class="customservice" href="javascript:;">4000-858-308</i></li>
			</ul>
			<ul class="topbarr">
				<li><a href="faq.html">帮助中心</a></li>
				<li>|</li>
				<li><a href="safe.html">安全保障</a></li>
				<li>|</li>
				<li><a href="about.html">关于我们</a></li>
				<li class="tip">市场有风险  投资需谨慎</li>
			</ul>
		</div>
	</div>
	<div class="hdmain">
		<div class="innerbox">
			<a class="logo" routerLink="/home"></a>
			<!--
			<ul class="loginbox">
				<li><a href="login.html">登录</a></li>
				<li class="last"><a href="register.html">注册</a></li>
			</ul>
			-->
			<ul class="loginin dropdownmenuUl">
				<li><a class="text_overflow" href="javascript:;">SLCF_000010000176<span class="arrow-down"></span></a>
					<div style="display: none;" class="popmain">
						<a href="user_message.html">消息 <span class="UnreadMessage">(3)</span></a>
						<a href="user_bank_recharge.html">充值</a>
						<a href="user_bank_withdrawals.html">提现</a>
						<a href="index.html">退出</a>
					</div>
				</li>
			</ul>			
			
			<ul class="topnav dropdownmenuUl">
				<li class="current"><a href="index.html">首页</a></li>
				<li><a href="javascript:;">我要理财<span class="arrow-down"></span></a>
					<div style="display: none;" class="popmain">
						<a href="loan4.html">U融宝<span></span></a>
						<a href="loan2.html">体验宝</a>
					</div>
				</li>
				<li><a href="guide.html">新手指引</a></li>
				<li><a href="user.html">我的账户</a></li>
				 
			</ul>
			
		</div>
	</div>
</div>